.offer {
    padding: 150px 0;
    &__title {
        font-size: 50px;
        font-family: 'EB Garamond';
        // font-variation-settings: 'wght' 400;
        // animation: variableFont 0.5s infinite alternate;

    }

}

