//variables
$orange: #FF9426;
$dark-purple: #241926;
$very-light-grey: rgba(0,0,0,0.08);
$light-grey: rgba(0,0,0,0.17);
$light-grey-characters: rgba(0,0,0,0.4);
$grey: rgba(0,0,0,0.5);
$black: #212529;